.comment {
    padding : 2px 0;
}

.user {
    font-weight: bold;
}

.add-comment {
    width: 100%;
    color: grey;
    padding: 17px 0;
    border: none;
    border-top: 1px solid lightgrey;
    outline: none;
}

.time-stamp {
    color: grey;
    font-size: 10px;
    padding: 8px 0;
}